<!DOCTYPE html>
<html lang="en">
<!-- <html xmlns="http://www.w3.org/1999/xhtml" 	xmlns:th="http://www.thymeleaf.org"> -->

<head>
<meta charset="utf-8" />
<!--     <link rel="apple-touch-icon" sizes="76x76" href="../bootstrap/img/apple-icon.png"> -->
<!-- 	<link rel="icon" type="image/png" href="../bootstrap/img/favicon.ico"> -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Browse</title>
<div th:include="~{includes/fragments :: bootstrapCSS}" th:remove="tag" />
</head>

<body>
	<div class="wrapper">
		<div th:include="~{includes/fragments :: side}" th:remove="tag" />
		<div class="main-panel">
			<div th:include="~{includes/fragments :: nav}" th:remove="tag" />
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-head">
									<div class="col-md-12">
										<h class="card-title">Filter</h>
										<form method="post" action="find">
											<div class="form-row">
												<div class="form-group col-sm-4">
													<label>Search</label> <input type="text"
														name="searchString" class="form-control"
														placeholder="Search">
												</div>
												<div class="form-group col-sm-3">
													<label for="countryId">COUNTRY</label><br /> <select
														class="form-control form-control-sm" name="countryId">
														<option value="allCountries" selected="selected"
															th:value="0"></option>
														<option
															th:each="country:${#request.getAttribute('countries')}"
															th:value="${country.id}" th:text="${country.countryName}">
														</option>
													</select>
												</div>
												<div class="form-group col-sm-3">
													<label for="searchType">SORT</label> <select
														id="searchType" class="form-control" name="searchType">
														<option value="query1">Show All</option>
														<option value="query2" selected="selected">Show
															Latest</option>
														<option value="query3">Sort By Places</option>
														<option value="query4">Sort By Seasons</option>
														<option value="query5">Sort By User</option>

													</select>
												</div>
												<div class="form-group col-sm-2 search-button">
													<button type="submit" value="Do it" class="btn btn-info btn-fill pull-right">SEARCH</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-12 col-md-6 col-lg-6" th:each="recommendation : ${recommendations}">
							<div class="card">
								<div class="card-body-rec">
									<div class="card-recPic">
										<img class="boopsi" th:src="${recommendation.getPicture()}"	alt="The recommendation's picture" />
											<span class="rec-title" th:text="${recommendation.getPlace().getName()}"></span>
									</div>
									<div class="card-body-rec-content">
										<div class="row">
											<div class="col-9 col-sm-9 col-md-9 col-lg-9">
												<h5 class="card-title" th:text="${recommendation.getTitle()}"></h5>
												<h6 class="card-title" th:text="${recommendation.getPlace().getCountry().getCountryName()}"></h6>
												by <a href="#" class="card-title-author" th:text="${recommendation.getUser().getUsername()}" />
											</div>
											<div class="col-1 col-sm-1 col-md-1 col-lg-1">
							
<!-- 											<a href="#" class="fav-link" data-toggle="dropdown"> -->
<!-- 			                                    <i class="fas fa-heart" id="heart"></i> -->
<!-- 			                                    <span class="d-none d-sm-none">Fav</span> -->
<!-- 			                                </a> -->
												<div class="form-check">
	<!-- 											<p th:text="${recommendation.getId()}"></p> -->
													<form>
												    <a th:href="@{/like(rm=${recommendation.getId()})}" class="btn btn-info">Like</a>
												    </form>
												</div>
<!-- 								        	<div class="btn-group-toggle" data-toggle="buttons"> -->
<!-- 												<label class="btn btn-secondary active"> -->
<!-- 											    	<input type="checkbox" checked autocomplete="off"> -->
<!-- 											    	 <i class="nc-icon nc-favourite-28"></i> -->
<!-- 												</label> -->
<!-- 											</div> -->
										        
										    </div>
									    </div>
										<div>
											<small th:text="${recommendation.getDescription()}"></small>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer class="footer">
				<div class="container-fluid">
					<nav>
						<p class="copyright text-center">
							©
							<script>
								document.write(new Date().getFullYear())
							</script>
							<a href="http://www.creative-tim.com">Creative Ardian</a>, made
							with love for a better SWENGA project
						</p>
					</nav>
				</div>
			</footer>

		</div>
	</div>

</body>

<div th:include="~{includes/fragments :: bootstrapJS}" th:remove="tag" />

</html>
