<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Browse</title>
<div th:include="~{includes/fragments :: bootstrapCSS}" th:remove="tag" />
</head>

<body>
	<div class="wrapper">
		<div th:include="~{includes/fragments :: side}" th:remove="tag" />
		<div class="main-panel">
			<div th:include="~{includes/fragments :: nav}" th:remove="tag" />
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Recommendations</h4>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-md-6"
											th:each="recommendation : ${recommendations}">
											<div class="card">
												<div class="card-body-rec">
													<div class="card-recPic">
														<img class="boopsi"
															th:src="${recommendation.getPicture()}"
															alt="The recommendation's picture" /> <span
															class="rec-title"
															th:text="${recommendation.getPlace().getName()}"></span>
													</div>
													<div class="card-body-rec-content">
														<div class="row">
															<div class="col-9 col-sm-9 col-md-9 col-lg-9">
																<h5 class="card-title"
																	th:text="${recommendation.getTitle()}"></h5>
																<h6 class="card-title"
																	th:text="${recommendation.getPlace().getCountry().getCountryName()}"></h6>
															</div>
															<div class="col-1 col-sm-1 col-md-1 col-lg-1"></div>
														</div>
														<div>
															<small th:text="${recommendation.getDescription()}"></small>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer class="footer">
				<div class="container-fluid">
					<nav>
						<p class="copyright text-center">
							&copy;
							<script>
								document.write(new Date().getFullYear())
							</script>
							<a href="https://github.com/BeckerDavid/SWENGA_PLACES">Places</a>,
							made with love for a better SWENGA project
						</p>
					</nav>
				</div>
			</footer>

		</div>
	</div>

</body>

<div th:include="~{includes/fragments :: bootstrapJS}" th:remove="tag" />

</html>
