<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Reset Password</title>
<link rel="stylesheet" href="bootstrap/ownCSS/resetPW.css">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap"
	rel="stylesheet">
<link
	href="https://malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="formstyle">
		<h1>Reset Password</h1>
		<form th:action="@{/forgotPassword}" class="signupform"
			id="signup-form" method="post">
			<h5>Please enter your username and Email Address</h5>
			<input type="text" name="username" id="username"
				placeholder="Username" required autofocus> <input
				type="email" name="mail" id="mail" placeholder="E-Mail Address"
				required>

			<button type="submit" id="sendB" class="btn1">Send reset
				Link</button>
		</form>
	</div>
</body>

</html>