<html>
<head>
<meta charset="UTF-8">
<title>Login - Places</title>
<link rel="stylesheet" href="bootstrap/ownCSS/login.css">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap"
	rel="stylesheet">
</head>
<body>
	<div class="formstyle">
		<h1>Login</h1>
		<form class="loginform" id="login-form" method="post" th:action="@{/login}">
			<input type="text" name="username" placeholder="Username" required>
			<input type="password" name="password" placeholder="Password" required>
		<div class="buttons">
			<button type="submit" name="button1" class="btn">Login</button>
				</form>
		</div>
		<div class="sign-vis">
			<button type="submit" name="button2" class="btn2">Sign Up</button>
			<button type="submit" name="button3" class="btn2">Visitor</button>
		</div>
	</div>
</body>
</html>