<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Login - Places</title>
<link rel="stylesheet" href="bootstrap/ownCSS/login.css">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap"
	rel="stylesheet">
</head>
<body>
	<div class="formstyle">
		<h1>Login</h1>
		<form th:action="@{/perform_login}" class="loginform" id="login-form"
			method="post">

			<div th:if="${param.error}" class="alert alert-danger">Invalid username and password.</div>

			<input type="text" name="username" id="username"
				placeholder="Username" required autofocus> <input
				type="password" name="password" id="password" placeholder="Password"
				required>
				<br>
			<a href="forgotPassword" class="forgot">Forgot Password</a>
			<div class="buttons">
				<button type="submit" name="button1" class="btn">Login</button>
			</div>
		</form>
		<div class="sign-vis">
			<a href="register"><button type="button" name="button2"
					class="btn2">Sign Up</button></a> <a href="visitor"><button
					type="button" name="button3" class="btn2">Visitor</button></a>
		</div>
	</div>
</body>
<script>
	var url = window.location.href;
	if (url.includes("?logout") && document.referrer.includes("userProfile")) {
		alert("You need to log in again.");
	}

</script>
</html>