<!DOCTYPE html>
<html>
<head>

<style>
#map {
	width: 100%;
	height: 150px;
	margin-top: 25px;
	background-color: grey;
}
</style>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Places</title>
<div th:include="~{includes/fragments :: bootstrapCSS}" th:remove="tag" />
</head>

<body>
	<div class="wrapper">
		<div th:include="~{includes/fragments :: side}" th:remove="tag" />
		<div class="main-panel">
			<div th:include="~{includes/fragments :: nav}" th:remove="tag" />
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-head">
									<h4 class="card-title">My Journeys</h4>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-md-4"
											th:each="journey:${#request.getAttribute('journeys')}">
											<div class="card">
												<div class="card-body-rec">
													<div class="card-recPic">
														<img class="boopsi2" src="images/airplane.jpg" /> <span
															th:text="${journey.zip1 + ' ' + journey.city1 + ' ' + countries.get(journeyStat.index).countryName}"></span>
													</div>
													<div class="card-body-rec-content">

														<h2 th:if="${journey.city2 == null}">Additional
															Place:</h2>
														<p th:text="${journey.city2}"></p>
														<h2>Arrival Date:</h2>
														<p
															th:text="${#calendars.format(journey.arrivalDate,'dd.MM.yyyy')}"></p>
														<h2>Departure Date:</h2>
														<p
															th:text="${#calendars.format(journey.departureDate,'dd.MM.yyyy')}"></p>
														<h2>Budget:</h2>
														<p th:text="${journey.budget}"></p>
														<h3 th:if="${journey.description == null}">Description:</h3>
														<div>
															<small th:text="${journey.description}"></small>
														</div>
																										<a
													th:href="@{/deleteJourney(id=${journey.id})}"
													class="btn btn-xs btn-danger"> <span
													class="glyphicon glyphicon-trash" aria-hidden="true"></span>
													Delete
												</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer class="footer">
				<div class="container-fluid">
					<nav>
						<p class="copyright text-center">
							&copy;
							<script>
								document.write(new Date().getFullYear())
							</script>
							<a href="https://github.com/BeckerDavid/SWENGA_PLACES">Places</a>,
							made with love for a better SWENGA project
						</p>
					</nav>
				</div>
			</footer>
		</div>
	</div>
</body>

<div th:include="~{includes/fragments :: bootstrapJS}" th:remove="tag" />
<script>
	// Initialize and add the map
	function initMap() {
		// The location of Barcelona
		var uluru = {
			lat : 41.3851,
			lng : 2.1734
		};
		// The map, centered at Barcelona
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom : 10,
			center : uluru,
			disableDefaultUI : true,

		});
	}
</script>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDI1wd2IfpO0aSkJq__eaoxr0_qZKkXEA8&callback=initMap">
	
</script>
</html>
