<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Sign up</title>
<link rel="stylesheet" href="bootstrap/ownCSS/register.css">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap"
	rel="stylesheet">
<link
	href="https://malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="formstyle">
		<h1>Sign Up</h1>
		<form th:action="@{/register}" class="signupform" id="signup-form"
			method="post">
			<input type="hidden" name="${_csrf.parameterName}"
				value="${_csrf.token}" />
				<input type="text" name="username"
				id="username" placeholder="Username" required autofocus>
				<input type="password" name="password" id="password" placeholder="Password"
				required>
				<input type="password" name="password2"
				placeholder="Confirm Password" required>
				<input type="text"
				name="firstName" id="firstName" placeholder="First Name" required>
				<input type="text" name="lastName" id="lastName"
				placeholder="Last Name" required>
				<input type="email"
				name="mail" id="mail" placeholder="E-Mail Address" required>
				<select name="country" id="country">
				<div th:each="country:${#request.getAttribute('countries')}">
					<option th:text="${country.countryName}"></option>
				</div>
				</select>

			<button type="submit" class="btn1">Submit</button>
		</form>
	</div>
</body>
</html>