<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Reset Password</title>
<link rel="stylesheet" href="bootstrap/ownCSS/resetPW.css">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap"
	rel="stylesheet">
<link
	href="https://malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="formstyle">
		<h1>Reset Password</h1>
		<form th:action="@{/resetPassword(token=${token})}" class="signupform" id="signup-form"
			method="post">
			<h5>Please enter a new Password</h5>
				<input type="text" name="username" id="username" placeholder="Username" required autofocus>			
				<input type="password" name="password" id="password" placeholder="New Password" required onkeyup="confP()">
				<input type="password" name="password2" id="password2" placeholder="Confirm Password" required onkeyup="confP()">
			<button type="submit" id="sendB" class="btn1">Reset Password</button>
		</form>
	</div>
</body>
<script>
var good_color = "#66cc66";
var bad_color  = "#ff6666";
var p1 = document.getElementById("password");
var p2 = document.getElementById("password2");
function confP(){
if (p1.value != p2.value) {
	p2.style.color = bad_color;
	document.getElementById("sendB").disabled = true;
} else {
	p2.style.color = good_color;
	document.getElementById("sendB").disabled = false;
}
}
</script>
</html>